<div class="card light-blue">
  <div class="card-content white-text">
    <span class="card-title">Quick Links</span>
    <ul class="collection">
      <li><%= link_to 'New shifts', new_shift_path, :class => "collection-item" %></li>
      <li><%= link_to 'New Jobs', new_job_path, :class => "collection-item" %></li>
      <li><%= link_to 'New Pay Grade', new_pay_grade_path, :class => "collection-item" %></li>
      <li><%= link_to 'New Pay Grade Rate', new_pay_grade_rate_path, :class => "collection-item" %></li>
  </div>
</div>
