$table-striped-color: #cfcfcf;
$primary-color:#000025;
$button-height: 20px;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
#toast-container {
  left:1%;
  right: auto !important;
}
#login{ 
        position: relative;
        left: 1350px;
        width: 150px;
        height: 60px;
        border: 10px solid green;
        //margin: 10px;
        background-color: darkblue;
        text-align: center; 
        text-decoration-color: white;
        margin-right: 200px;
        //font-family: Impact, Charcoal, sans-serif;
       // font: 20px  sans-serif;
 
    }
    
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {font-size: 10px;}



.dropdown-button {
        width: 100px;
        background-color: #000025;
        border: none;
        color: white;
        padding: 0px 16px;
        margin-right: 20px;
        font-size: 25px;
        cursor: pointer;
}

/* Darker background on mouse-over */
.dropdown-button:hover {
  background-color: RoyalBlue;
}

